*{
  font-family: Josefin Sans,  Spoqa Han Sans Neo, Noto Sans KR, Poppins,sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* -- css variable setting -- */
.kor{
  font-family: Noto Sans KR,sans-serif;
}

.flex-column{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  gap:28px;
}

 .mobile-txt{
  display:none;
 }

/* -- start of body */
body{
  background-color: rgb(255, 255, 255);
  position: relative;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

header{
  position: fixed;
  display: flex;
  justify-content: left;
  padding: 23px 20px 20px;
  width: 100%;
  /* background-color: #fefefe; */
  margin-top:-66px;
  z-index: 1;
  background-color: rgba(255,255,255, 0.7);
  backdrop-filter: blur(5px);
}

#header-txt{
  margin-left: 20px;
  font-size: 22px;
}

/* -- hero section -- */
.section-hero{
 background-image: url(https://i.ibb.co/RzXSZtw/Screen-Shot-2023-09-16-at-8-12-59-PM.png);
 background-color: rgba(0,0,0,0.5);
 background-repeat: no-repeat;
 background-size: cover;
 /* background-position: center; */
 display: flex;
 margin: 0 auto;
 color:#fefefe;
 padding:70px 80px;
 margin-top:66px;
 justify-content: space-between;
}

.txt-hero-wrap{
  display:flex;
  flex-direction:column;
  gap:20px;
  white-space:nowrap;
  font-size:20px;
}

.div-hero{
 display: flex;
 white-space: nowrap;
 font-size: 20px;
}

#main-logo-txt{
  font-size: 50px;
  font-weight: 300;
}

.img-logo{
 width:30%;
 height: auto;
}

.div-hero-btn{
 background-color: #ffffff;
 text-decoration: none;
 width: fit-content;
 padding:10px 23px;
 border-radius: 25px;
 margin-top:20px;
 color:#0e0e0e;
 font-weight:500;
}

/* -- introducing card sections -- */
.section-cards{
  width:100%;
  display: flex;
  padding: 50px 461px 50px 461px;
  justify-content: center;
  align-items: center;
  gap:157px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.reduce-padding{
    margin-top:-50px;
}
.card-image{
 width:550px; 
 height:370px;
}

.section-cards#section2, #section4{
 flex-direction: row-reverse;
}

.section-cards .content{
 display: flex;
 align-items: center;
 gap: 157px;
}

.txt-design-title1{
 font-size: 47px;
 font-weight: 700;
 letter-spacing: -0.3px;
}

#section1 .txt-design-title1{
  width: 320px;
}

.type1 {
 background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
}

.type2 {
 background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
}

.type3 {
 background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
}

.gradient {
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 padding-top:15px;
}

.section-cards .content p{
  color: #6B6B6B;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
 }
 
.section-cards .txt-content{
 display: flex;
 width: 291px;
 flex-direction: column;
 align-items: flex-start;
 gap: 10px;
}

/* ------------------ */
/* -- form section -- */
.txt-description{
  font-family:Spoqa Han Sans Neo, sans-serif;
  color:black;
  font-weight: 300;
  font-size: 20px;
}

.txt-introducing{
  font-size: 30px;
  white-space:nowrap;
  font-weight: 600;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap:75px;
  margin-bottom: -10px;
 }

#div-introducing-description{
  gap:90px;
}

.emphasize{
  font-weight: 700;
  color:#333;
}

.txt-gray{
  color: #6B6B6B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
 }


#form-introduce-description{
  font-size: 20px; 
  text-align: center;
  font-weight: 300;
}

/* 

/* -- form start -- *
.section-form{
 background-image: url(https://i.ibb.co/FY0Q9YR/pngegg-2-upscaled.png);
 background-repeat: no-repeat;
 background-size: contain;
 margin: 0 auto;
 width:1000px;
 margin-top:50px; 
}

.div-form{
 margin: 0 auto;
 text-align: left;
 padding:163px 200px 200px;
 white-space: nowrap;
 width: fit-content;
}

/* -- form txt design -- *
.form-txt,
input,
label {
  font-family: Noto Sans KR, sans-serif;
  display: block;
  padding: 5px;
  border: none;
  font-size: 20px;
  font-weight: 300;
}

input:focus {
  outline: 0;
}

/* Question *
input.question{
  font-weight: 300;
  border-radius: 2px;
  margin-top: 20px;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox.*
}

/* Underline and Placeholder *
input.question + label {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid rgb(0, 0, 0);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  margin-top: 20px;
}


input.question:focus + label > span,
input.question:valid + label > span {
  top: -70px;
  font-size: 18px;
  color: #5a3e24;
}

input.question:valid + label{
  border-color: #9b7654;
}

input.question:invalid {
  box-shadow: none;
}


input.question + label > span {
  font-weight: 350;
  margin: 0;
  position: absolute;
  color: #191010;
  font-size: 20px;
  top: -52px;
  left: 0px;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}


/* -- radio button & checkbox design -- *
.radio-lab {
  font-size: 18px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(0.5px, 0.07em) solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}

[type="radio"]:checked{
  border: 0.4em solid #5a3e24;
}

[type="radio"]:focus-visible{
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted#5a3e24;
}

[type="radio"]:hover{
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: rgb(230, 230, 230);
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

input[type="checkbox"] {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: max(0.5px, 0.07em) solid currentColor;
  border-radius: 0.1em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1em 1em #5a3e24;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.txt-radio-design{
  font-size: 14px;
  font-weight: 300px;
}

/* Global CSS *
fieldset {
  display: flex;
  gap:-9px;
  border: none;
  margin-top: 8px;
} 
*/

.btn-submit{
  background-color: #383131;
  color: #fefefe;
  margin: 27 auto 150;
  width: 300px;
  height: 50px;
  text-align: center;
  border-radius: 54px;
  font-size: 20px;
  padding:10px 0 12px;
  text-decoration: none;
  font-weight: 300;
}


/* 로고 배경 이미지 : https://ifh.cc/g/ZWmrKo.png */
/* 로고 배경 이미지 큰거 해상도 낮은 버전 https://ifh.cc/g/6FJMfc.jpg */
/* 로고 이미지 아이콘 : https://ifh.cc/g/4RwbZ0.png */
/* 로고 이미지 흑백: https://i.ibb.co/RzXSZtw/Screen-Shot-2023-09-16-at-8-12-59-PM.png */
/* 홍보 포스터 이미지 : https://i.ibb.co/S3RjCCy/cplogo.png */
/* 홍보 포스터 dim 첨가 이미지: https://i.ibb.co/RzXSZtw/Screen-Shot-2023-09-16-at-8-12-59-PM.png */